.home{
    justify-content: space-between;
}
.back{
    background-color: rgba(93, 186, 253, 0.699);
}
.homePage{
    color: blue;
}
.caro{
    height: 75vh;
    width: 95vw;
    margin-top: -1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    padding-bottom: 5%;
    position: relative;
    
}
.textuh{
    text-align: center;
}