.patients{
    background-image: url("../Assets/pics.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    height: 140vh;
    width:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }